:root {
  --color-white: #ffffff;
  --color-gray-100: #f3f6ff;
  --color-gray-200: #eff2fc;
  --color-gray-300: #e2e5f1;
  --color-gray-400: #d4d7e5;
  --color-gray-500: #b4b7c9;
  --color-gray-600: #9397ad;
  --color-gray-700: #565973;
  --color-gray-800: #33354d;
  --color-gray-900: #0b0f19;
  --color-black: #000000;
  --color-theme: #6366f1;
  --color-accent: #d946ef;
  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #ffba08;
  --color-info: #4c82f7;
  --color-danger-bg: #f5d7da;
}

:root.dark {
  --color-black: #ffffff;
  --color-gray-900: #f3f6ff;
  --color-gray-800: #eff2fc;
  --color-gray-700: #e2e5f1;
  --color-gray-600: #d4d7e5;
  --color-gray-500: #b4b7c9;
  --color-gray-400: #9397ad;
  --color-gray-300: #565973;
  --color-gray-200: #33354d;
  --color-gray-100: #141922;
  --color-white: #0b0f19;
  --color-theme: #6366f1;
  --color-accent: #d946ef;
  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #ffba08;
  --color-info: #4c82f7;
  --color-danger-bg: #f5d7da;
}
