@{
    var theme = Context.Request.Cookies["theme"] ?? "light";
    var isDarkMode = (theme == "dark") ? true :false;
}

<!DOCTYPE html>
<html lang="en" class="@theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | WebApp_NET_MVC</title>

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body>

    <div class="wrapper">
        <partial name="~/Views/Partials/_Cookies.cshtml" />
        <partial name="~/Views/Shared/Sections/_Header.cshtml" />

        <main>
            @RenderBody()
        </main>
        
        <partial name="~/Views/Shared/Sections/_Footer.cshtml" />
    </div>

    <script src="https://kit.fontawesome.com/a041cc045c.js" asp-append-version="true" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    <script src="~/js/courses.js" asp-append-version="true"></script>
    <script src="~/js/validation.js" asp-append-version="true"></script>

</body>
</html>
