@model SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
}

<section class="signup">
    <div class="container-form-small">

        <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate >

            <h1 class="form-title">Create Account</h1>
            <p>Already have an account? <a class="sign-in-here" asp-controller="Auth" asp-action="SignIn" >Sign in here</a> </p>

            @if (@ViewData["StatusError"] != null)
            {
                <p class="tempdata-status alert-error">@ViewData["StatusError"]</p>
            }

            <div class="input-group-container">
                <div class="input-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
                
                <div class="input-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="input-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="input-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="TermsAndConditions" />
                    <label asp-for="TermsAndConditions">
                        I agree to the <a asp-action="Terms" asp-controller="About">Terms</a> & <a asp-action="Conditions" asp-controller="About">Conditions</a>.
                    </label>
                <span asp-validation-for="TermsAndConditions"></span>
                </div>
            </div>

            <button class="btn-theme sign-up-btn" type="submit" >Sign up</button>

        </form>
    </div>
</section>