.settings-wrapper {
  width: 100%;
  background-color: var(--color-gray-000);
  .container-form {
    form {
      .btn-container {
        display: flex;
        gap: 1rem;
        button {
          max-width: fit-content;
        }
      }
    }
  }
}
