.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   width: 80%;
  margin: 0 auto;
  padding: 5.6rem 0 10rem;
  background-color: var(--color-gray-100);
  .container {
    margin: 0 auto;
    .feature-title {
      @include title-h2;
      text-align: center;
    }
    p {
      text-align: center;
      margin: 1.5rem 0 2rem;
      color: var(--color-gray-600);
      font-size: var(--font-body-l);
      font-weight: var(--font-weight-regular);
    }
    .feature-cards {
      display: grid;
      gap: 1px;
      grid-template-columns: 1fr;
      background-color: var(--color-gray-300);

      @include sm {
        grid-template-columns: 1fr 1fr;
      }
      @include lg {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .feature-card {
        // max-width: 430px;
        background-color: var(--color-gray-100);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2.5rem;

        &:hover {
          background-color: var(--color-gray-000);
          cursor: pointer;
          border-radius: 0.5rem;
          box-shadow: 0 0 10px var(--color-gray-300);
        }
        .icon {
          img {
          }
        }
        h5 {
          font-size: var(--font-header-h5);
          font-weight: var(--font-weight-extrabold);
          color: var(--color-gray-900);
          margin: 1.5rem 0 0.75rem;
        }
        .feature-description {
          font-size: var(--font-body-m);
          font-weight: var(--font-weight-regular);
          color: var(--color-gray-700);
        }
      }
    }
  }
}
