footer {
  .container-small {
    // width: 60%;
    // max-width: 856px;
    margin: 3.3rem auto 4rem;
    display: grid;
    .social-media {
      margin: 0 auto 2rem;
      display: flex;
      gap: 1rem;
      .btn-socialmedia {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: var(--color-gray-200);
        border-radius: 0.5rem;
        text-decoration: none;
        font-size: 1.25rem;
        color: var(--color-gray-800);

        &:hover {
          color: var(--color-gray-200);
          background-color: var(--color-gray-800);
          box-shadow: 0 0 10px var(--color-gray-400);
        }
      }
    }

    .copyright {
      text-align: center;
      color: var(--color-gray-600);
      span {
      }
    }
  }
}
