.signup {
  .container-form-small {
    form {
      button {
        @include glow;
        // max-width: fit-content;
      }
    }
  }
}

.test-profile-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  .settings {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1px;
    width: 100%;
    background-color: var(--color-gray-300);
  }
}
