@* @model AddressViewModel
@{
    ViewData["Title"] = "Address";
}
<section class="account-address settings-wrapper">
    <div class="container-form">
        <form method="post" asp-controller="Account" asp-action="Address">
            <h5 class="form-sub-title">Address</h5>
            
            <div class="input-group settings-wrapper">
                <label asp-for="AddressLine_1"></label>
                <input asp-for="AddressLine_1">
                <span asp-validation-for="AddressLine_1"></span>
            </div>
            
            <div class="input-group">
                <label asp-for="AddressLine_2"></label>
                <input asp-for="AddressLine_2">
                <span asp-validation-for="AddressLine_2"></span>
            </div>
            
            <div class="input-group-container">
                <div class="input-group">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode">
                    <span asp-validation-for="PostalCode"></span>
                </div>
                <div class="input-group">
                    <label asp-for="City"></label>
                    <input asp-for="City">
                    <span asp-validation-for="City"></span>
                </div>
            </div>

            <div class="btn-container">
                <button class="btn-gray cancel-btn" type="reset">Cancel</button>
                <button class="btn-theme save-changes-btn" type="submit">Save changes</button>
            </div>

        </form>
    </div>
</section> *@