<section class="download">
    <div class="download-container container">
        <div class="download-img-container">
            <img class="download-img" src="images/mobile-view-image.svg" alt="mobile image preview">
        </div>
        <div class="download-content">
            <h2 class="download-title">Download Our App for Any Devices:</h2>
            <div class="cards-group">
                <div class="download-card">
                    <div class="download-card-content">
                        <p class="store-name">App Store</p>
                        <ul class="store-rating">
                            <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                            <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                            <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                            <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                            <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                        </ul>
                        <h4 class="download-card-title">Editor's Choice</h4>
                        <p class="download-rating">rating 4.7, 187K+ reviews</p>
                    </div>
                    <div class="card-image-container">
                        <img src="images/appstore.svg" alt="appstore" class="card-image">
                    </div>
                </div>
                <div class="download-card">
                    <div class="download-card-content">
                        <p class="store-name">Google Play</p>
                            <ul class="store-rating">
                                <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                                <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                                <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                                <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                                <li class="store-list-icon"><img src="images/star.svg" alt=""></li>
                            </ul>
                        <h4 class="download-card-title">App of the Day</h4>
                        <p class="download-rating">rating 4.8, 30K+ reviews</p>
                    </div>
                    <div class="card-image-container">
                        <img src="images/googleplay.svg" alt="appstore" class="card-image">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>