<section id="hero" class="hero">
    <div class="hero-img"><img class="heroimage" src="images/hero-image.png" alt="dashboard image"></div>
    <div class="content-container container-large">
        <div class="hero-content">
            <h1>Task Management Assistant You Gonna Love</h1>
            <p class="hero-description">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <button class="hero-btn">Get started for free</button>
            <h6>Largest companies use our tool to work efficiently</h6>
            <ul>
                <li><img src="images/logoipsum1.svg" alt=""></li>
                <li><img src="images/logoipsum2.svg" alt=""></li>
                <li><img src="images/logoipsum3.svg" alt=""></li>
                <li><img src="images/logoipsum4.svg" alt=""></li>
            </ul>
        </div>
    </div>
</section>