<section class="management">
    <div class="management-container container">

        <div class="management-img-container"><img class="management-img" src="images/preview-image.png" alt="management preview image"></div>

        <div class="management-content">

            <h2 class="management-title">Manage Your Work</h2>

            <ul class="management-list">
                <li class="manage-list-object">Powerful project management</li>
                <li class="manage-list-object">Transparent work management</li>
                <li class="manage-list-object">Manage work & focus on the most important tasks</li>
                <li class="manage-list-object">Track your progress with interactive charts</li>
                <li class="manage-list-object">Easiest way to track time spent on tasks</li>
            </ul>

            <button class="management-btn"><span>Learn more</span> <i class="fa-solid fa-arrow-right"></i></button>

        </div>

    </div>
</section>