@model PasswordViewModel
@{
    ViewData["Title"] = "Password";
}

<section class="security-password settings-wrapper">
    <div class="container-form">
        <form method="post" asp-controller="Account" asp-action="Password" >
            <h1 class="form-title">Security</h1>
            <h5 class="form-sub-title">Password</h5>

            <div class="input-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword">
                <span asp-validation-for="CurrentPassword"></span>
            </div>

            <div class="input-group-container">
                <div class="input-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword">
                    <span asp-validation-for="NewPassword"></span>
                </div>
                
                <div class="input-group">
                    <label asp-for="ConfirmNewPassword"></label>
                    <input asp-for="ConfirmNewPassword">
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </div>
            </div>

            <div class="btn-container">
                <button class="btn-gray cancel-btn" type="reset">Cancel</button>
                <button class="btn-theme change-password-btn" type="submit">Change password</button>
            </div>

        </form>
    </div>
</section>