@{
    var user = await UserManager.GetUserAsync(User);
}

<section class="profile-menu">
    <div class="container-profile-menu">
        <div class="profile-info">
            <div class="image-box">
                <img src="/images/uploads/@user?.ProfileImage" alt="profile picture" class="profile-picture">
                <form enctype="multipart/form-data" method="post" asp-action="ProfileImageUpload" asp-controller="Account">
                    <input id="fileUploader" type="file" name="file" hidden >
                    <label for="fileUploader">
                        @* <i class="fa-sharp fa-solid fa-arrows-rotate-reverse"></i> *@
                        <i class="fa-regular fa-refresh"></i>
                    </label>
                </form>
            </div>
            <h5>@user?.FirstName @user?.LastName</h5>
            <p>@user?.Email</p>
        </div>
        <ul class="account-navigation">
            <li class="account">
                <a asp-action="Details" asp-controller="Account">
                    <i class="fa-sharp fa-regular fa-gear"></i>
                    Account Details
                </a>
            </li>
            <li class="security">
                <a asp-action="Security" asp-controller="Account">
                    <i class="fa-regular fa-lock"></i>
                    Security
                </a>
            </li>
            @* <li class="courses">
                <a href="">
                    <i class="fa-regular fa-bookmark"></i>
                    Saved Courses
                </a>
            </li> *@
            <li class="sign-out">
                <a asp-action="SignOut" asp-controller="Auth">
                    <i class="fa-regular fa-arrow-right-from-bracket"></i>
                    Sign Out
                </a>
            </li>
        </ul>
    </div>
</section>