<section class="theme-mode">
    <div class="container">
        <div class="theme-title">
            <h2> <span class="light">&nbsp;&nbsp;&nbsp; Switch Between</span> <span class="dark">Light & Dark Mode</span></h2>
        </div>

        <div class="theme-vertical-line"></div>


        <div class="image-box">
            <img class="theme-img" src="images/mockup.png" alt="laptop theme image">

            <div class="theme-drag-overlay">
                <i class="fa-sharp fa-solid fa-left-right"></i>
            </div>
        </div>
        
    </div>
</section>