<section class="work-tools">
    <div class="container">
        <h2 class="work-tools-title">Integrate Top Work Tools</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="work-tools-cards">
        
            <div class="work-tools-card">
                <div class="icon"><img src="images/google-icon.svg" alt="presentation icon"></div>
                <p class="work-tools-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="work-tools-card">
                <div class="icon"><img src="images/zoom-icon.svg" alt="add group icon"></div>
                <p class="work-tools-description">In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="work-tools-card">
                <div class="icon"><img src="images/slack-icon.svg" alt="bell icon"></div>
                <p class="work-tools-description">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="work-tools-card">
                <div class="icon"><img src="images/gmail-icon.svg" alt="test icon"></div>
                <p class="work-tools-description">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="work-tools-card">
                <div class="icon"><img src="images/trello-icon.svg" alt="shield icon"></div>
                <p class="work-tools-description">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="work-tools-card">
                <div class="icon"><img src="images/mailchimp-icon.svg" alt="test icon"></div>
                <p class="work-tools-description">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="work-tools-card">
                <div class="icon"><img src="images/dropbox-icon.svg" alt="shield icon"></div>
                <p class="work-tools-description">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="work-tools-card">
                <div class="icon"><img src="images/evernote-icon.svg" alt="chat icon"></div>
                <p class="work-tools-description">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>
