@model SubscriberFormModel
@{
    ViewData["Title"] = "Subscribe";
}

<section id="newsletter" class="newsletter">
    <div class="container-small">

        <div class="newsletter-title-container">
            <h2 class="newsletter-title">Don't Want to Miss Anything?</h2>
            <img src="images/twisted-arrow.svg" alt="">
        </div>

        <form class="newsletter-form" method="post" asp-controller="Newsletter" asp-action="Subscribe" >
            <div class="newsletter-checkbox-container">
                <h4 class="checkbox-title">Sign up for Newsletters</h4>
                <div class="checkbox-div" >
                    
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="DailyNewsletter" />
                            <label asp-for="DailyNewsletter" ></label>
                        </div>
                    </div>
                    
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="AdvertisingUpdates" checked />
                            <label asp-for="AdvertisingUpdates" ></label>
                        </div>
                    </div>

                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="WeekinReview" />
                            <label asp-for="WeekinReview" ></label>
                        </div>
                    </div>

                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="EventUpdates" />
                            <label asp-for="EventUpdates" ></label>
                        </div>
                    </div>

                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="StartupsWeekly" />
                            <label asp-for="StartupsWeekly" ></label>
                        </div>
                    </div>

                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="Podcasts" />
                            <label asp-for="Podcasts" ></label>
                        </div>
                    </div>

                </div>
            </div>
            
            @if (@TempData["StatusSuccess"] != null)
                {
                    <p class="contact-tempdata-status alert-success">@TempData["StatusSuccess"]</p>
                }
            @if (@TempData["StatusError"] != null)
                {
                    <p class="contact-tempdata-status alert-error">@TempData["StatusError"]</p>
                }

            <div class="newsletter-input-container">
                <div class="input-group">
                    <input class="newsletter-input" asp-for="Email" placeholder="Your Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <button class="newsletter-btn" type="submit">Subscribe *</button>
            </div>
            <p class="newsletter-privacy"><span>* Yes, I agree to the <a href="" class="privacy-link">terms</a> and <a href="" class="privacy-link">privacy policy</a>.</span></p>
        </form>

    </div>
</section>