<div class="account-container">
    <partial name="~/Views/Shared/Sections/_ProfileMenu.cshtml" />
<div class="settings-container">
    <partial name="~/Views/Shared/Sections/_BasicInfo.cshtml" />
    <partial name="~/Views/Shared/Sections/_Address.cshtml" />
</div>
</div>