<div class="account-container">
    <partial name="~/Views/Shared/Sections/_ProfileMenu.cshtml" />
<div class="settings-container">
    <partial name="~/Views/Account/Password.cshtml" />
    <partial name="~/Views/Account/DeleteAccount.cshtml" />
</div>
</div>